.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    max-height: 100vh;
    align-items: end;
    margin-top: 20px;
}

.top_btn{
    display: flex;
    gap: 32px;
}
.top_btn button{
    height: 50px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.contact_form button{
    height: 50px;
}


.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    
}
.form_control input{
    padding: 12px 16px;
    border: 1px solid #2e2e2e;
    border-radius: 10px;
    height: 40px;
    
}
.form_control textarea{
    padding: 12px 16px;
    border: 1px solid #2e2e2e;
    border-radius: 10px;
}

.form_control label{
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}

.contact_image img {
    max-width: 130%; /* Ensure the image scales properly */
    max-height: 500%; /* Ensure the image stays within bounds */
    object-fit: contain; /* Keep the aspect ratio of the image */
    border-radius: 10px; /* Optional: give the image rounded corners */
    margin-left: 40px;
}
