.contact_section{
    max-width: 1000px;
    margin: 0 auto;
}
.contact_section h1{
    font-size: 39px;
    margin-top: 10px;
    font-weight: 800;
}

.contact_section p{
    font-size: 14px;
    font-weight: 500;
}
